{% extends "FrontBundle:Default:index.html.twig " %}
{% block title %}Pacients{% endblock %}
{% block page_content %}
    <!-- Page Content -->
	    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12 col-md-12">
                <h1>Pacients</h1>
                <p>Llistat de pacients:</p>
                <table class="table table-hover">
                <th>ID</th>
                <th>Dolencia</th>
                {% for pacient in pacients %}
               
                <tr>
                	<td>{{ pacient.id }}</td>
        			<td>{{ pacient.dolencia }}</td>
        		</tr>
				{% endfor %}
				</table>
            </div>
        </div>
    </div>
{% endblock %}