{% extends "FrontBundle:Default:index.html.twig " %}
{% block title %}Visites{% endblock %}
{% block page_content %}
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12 col-md-12">
                <h1>Visites</h1>
                <p>aqui anira la seccio de llista de visites</p>
            </div>
        </div>
    </div>
{% endblock %}